html {
  font-size: large;
  font-weight: 500;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(159, 210, 83, 0.9);
  background-image: url(./steklyannaya-mozaika-leon-mix4-velsy-mozaik.ua_.jpg);
}
* {
transition: color 250ms lineaar;
}
main {
  width: 1200px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: flex-start;
  background-color: none;
}
footer {
  width: 1200px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: flex-start;
  background-color: none;
}
.link {
  text-decoration: none;
  color: chartreuse;
}
.link:hover {
  color: red;
}
article {
  padding-left: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: rgba(83, 125, 144, 0.8);
  display: block;
  width: 500px;
  text-align: center;
}
.main-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.main-link:hover {
  color: rgb(0, 0, 0);
}
section {
  display: flex;
  flex-direction: column;
}
ul {
  list-style: none;
  display: flex;
}
li + li {
  margin-left: 15px;
}
div {
  padding: 10px;
  background-color: rgba(83, 125, 144, 0.8);
  display: block;
  width: 500px;
  text-align: center;
  margin: 30px;
}
footer section {
  display: flex;
  flex-direction: row;
}
footer div {
  padding: 10px 0px 10px 0px;
  background-color: rgba(83, 125, 144, 0.8);
  display: block;
  width: 1100px;
  text-align: left;
  margin: 30px;
}
