html {
  font-size: large;
  font-weight: 500;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(159, 210, 83, 0.9);
  background-image: url(./steklyannaya-mozaika-leon-mix4-velsy-mozaik.ua_.jpg);
}
body {
  width: 1200px;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: flex-start;
}
.link {
  text-decoration: none;
  color: chartreuse;
}
.link:hover {
  color: red;
}
section {
  display: flex;
  flex-direction: column;
}
ul {
  list-style: none;
  display: flex;
}
li + li {
  margin-left: 15px;
}
div {
  padding: 10px;
  background-color: rgba(83, 125, 144, 0.8);
  display: block;
  width: 500px;
  text-align: center;
  margin: 30px;
}
